section.title{
    font-size:20px;
    font-family: "Arial", sans-serif;

    border: 1px solid blue;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: darkolivegreen;
    background-color: #ccc;

    padding-top: 10px;
    padding-left: 40px;

    border-bottom-width: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    border-bottom-color: black;
    border-bottom-style: solid;
    section {
    background-color: #9b241b;
    margin: 20px;
    padding: 10px;
    transition: all 0.6s ease-in 0.15s;
}
a:Communication {
    letter-spacing: 10px;
    background-color: #fd5e53;
    padding-left: 10px;
    text-decoration: none;
    font-weight: 900;
}

button {
    transition: all 0.4s ease-in-out;
}
button:active {
    letter-spacing: 10px;
    background-color: #ccf;
}

body {
    font-size: 150%;
}
}
