* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #ffe4ec;
    color: #aa1f55;
}

.header {
    background: #ffba5a;
    padding: 20px;
    transition: all 0.4s ease-in-out;
}

header:hover {
    background-color: #ff80b0;
}

a {
    transition: all 0.6s ease-in 0.15s;
}
a:hover {
    letter-spacing: 10px;
    background-color: #fd5e53;
    padding-left: 10px;
    text-decoration: none;
    font-weight: 900;
}

button {
    transition: all 0.4s ease-in-out;
}
button:active {
    letter-spacing: 10px;
    background-color: rgb(23, 23, 207);
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.objectif {
    font-weight: bold;
    margin-top: 10px;
}

.grid {
    display: grid;
    gap: 20px;
    padding: 20px;
}

.card {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h2 {
    margin-bottom: 10px;
    color: #fd5e53;
}

/* Telephone: 1 colonne*/
.grid {
    grid-template-columns: 1fr;
}

/* Tablette: 2colonnes */
@media (min-width: 600px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* Ordinateur: */
@media (min-width: 900px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .header {
        padding: 40px;
    }

    .photo {
        width: 150px;
        height: 150px;
    }
}